{% load static %}
<p><font size="7">Ku-polls</font></p>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% if messages %}
    <ul class="messages">
        {% for m in messages %}
            <h3 class="{{m.error}}">{{ m }}</h3>
        {% endfor %}
    </ul>
{% endif %}

{% if user.is_authenticated %}
    Hello, {{ user.username }}
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><font size="5"><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></font></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
